body {
  /*background-image: linear-gradient(to right top, #fdfcfb, #f6f1ed, #efe6df, #e9dcd1, #e2d1c3);*/
  /*background-image: linear-gradient(to right top, #f3e7e9, #f4e7ee, #f1e9f5, #ebebfb, #e3eeff);*/

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
