
.titpla {
    display: flex;
    justify-content: center;
}


.imgLog {
    display: flex;
    justify-content: center;

}

.btnalig {
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;

}

.table_border {
    border: 2px solid #6d909d;

}

.employee_image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 3px solid #6d909d
}

.imgLogin {

    width: 250px;


}

.buttoms {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.buttomsemp {
    width: 30px;
    height: 30px;
}


.alingtitle {
    display: flex;
    flex-direction: row;
    padding: 5px;
    font-size: 1rem;

}

.textemp {
    font-size: 0.9rem;
}

.table1 {
    justify-content: center;

}

.dept {
    display: flex;
    flex-direction: row;
    

}

.title {
    width: 180px;
}

.buttons1 {
    display: flex;
    justify-content: space-around;
    width: 200px;
}

.config {
    padding: 30px 0px 0px 30px;
}

.return {
    display: flex;
    justify-content: center;
}

.bordes {
    
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;

}

.employp {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 0px;
}

.font1 {
    font-size: 1.1rem;
    font-weight: bold
}

.font1_1{
    font-size: 1.5rem;
    font-weight: bold;
    color: #71aa1a;
    padding: 15px;
}

.font1_10{
    font-size: 2.5rem;
    font-weight: bold;
    color: #71aa1a;
    padding: 15px;
    text-decoration: none;
}

.font1_2{
    font-size: 1.1rem;
    font-weight: bold;
    color:#eb584d;
    padding: 15px;
}


.tit_hom {
    color: #939596;
 
}

.tit_hom1 {
    color: #939596;
    display: flex;
    justify-content: center;
}

.colr1{
    color: #ff1100;
}
.colr2{
    color:#71aa1a;
}
.colr3{
    color:#005eff;
}
.colr4{
    color:#ff7ff2;
}

.fontemp {
    font-size: 3.5rem;
    color: #71aa1a;
}

.employ {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.per1{
    color:#71aa1a;
}

.per2{
    color:#eb584d;
}



.formlink {
    text-decoration: none;
}

.dateformg {
    background-color: #71aa1a;
    color: #fff;
    font-weight: bold
}

.iconsize {
    font-size: 30px;
}

.color1 {
    color: #ffa200;
}

.color2 {
    color: #005eff;
}

.color3 {
    color: #ff1100;
}

.filexls {
    width: 220px;
}

.btnw {
    width: 50px;
}

.empImg {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #6d909d;
}

.employee_prof{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #6d909d
}

.datper {
    color: #6a6b6b;
}

.colorf{
   font-size: 0.0rem;
}

.datper1 {
    color: #939596;
}